<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid" style="margin-bottom:0">
        <div class="container">
            <h3 class="lead text-center">Quote....</h3>

        </div>
    </div>
    <div class="container-fluid">
        <div class="container d-flex justify-content-center border border-dark">
            <img src="https://images.unsplash.com/photo-1633467702519-1acdbe0267a1?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                class="rounded-circle border border-dark img-fluid" alt="" height="150" width="140">

        </div>
        <div class="container border border-dark text-center">
            <p>TE-B-05-YASH NERKAR</p>
        </div>
        <!-- badges div started -->
        <div class="container-fluid mt-5">
            <div class="row">
                
                <div class="container border border-dark  col-md-4  mt-4">

                    <img class="img-fluid p-3"
                        src="https://images.unsplash.com/photo-1633767448616-85ff30bdb047?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">

                </div>
                <div class="container border border-dark col-md-4 mt-4">
                    <img class="img-fluid p-3"
                        src="https://images.unsplash.com/photo-1633767448616-85ff30bdb047?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">
                </div>
                <div class="container border border-dark col-md-4 mt-4">
                    <img class="img-fluid p-3"
                        src="https://images.unsplash.com/photo-1633767448616-85ff30bdb047?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">
                </div>
                <div class="container border border-dark col-md-4 mt-4">
                    <img class="img-fluid p-3"
                        src="https://images.unsplash.com/photo-1633767448616-85ff30bdb047?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">
                </div>
                <div class="container border border-dark col-md-4 mt-4">
                    <img class="img-fluid p-3"
                        src="https://images.unsplash.com/photo-1633767448616-85ff30bdb047?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">
                </div>
                <div class="container border border-dark col-md-4 mt-4">
                    <img class="img-fluid p-3"
                        src="https://images.unsplash.com/photo-1633767448616-85ff30bdb047?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">
                </div>

            </div>
        </div>

    </div>
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white mt-4">
        <!-- Grid container -->
        <div class="container p-4">

            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-primary btn-floating m-1 border border-dark" style="background-color: #3b5998"
                    href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1 border border-dark" style="background-color: #55acee"
                    href="#!" role="button"><i class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-primary btn-floating m-1 border border-dark" style="background-color: #dd4b39"
                    href="#!" role="button"><i class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1 border border-dark" style="background-color: #ac2bac"
                    href="#!" role="button"><i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-primary btn-floating m-1 border border-dark" style="background-color: #0082ca"
                    href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                <!-- Github -->
                <a class="btn btn-primary btn-floating m-1 border border-dark" style="background-color: #333333"
                    href="#!" role="button"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->



            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                    distinctio earum repellat quaerat voluptatibus placeat nam,
                    commodi optio pariatur est quia magnam eum harum corrupti dicta,
                    aliquam sequi voluptate quas.
                </p>
            </section>
            <!-- Section: Text -->


        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>


</body>

</html>